<div class="row">
  <% @rewards.each do |reward| %>
  	<div class="col-md-3">
  		
  		<%= link_to 'Delete', reward, method: :delete, data: { confirm: 'Are you sure?' } %>
  		<div class="box">
		  <a href="javascript:void(0)" class="btn btn-warning btn-fab"><i class="material-icons"><%= reward.level %></i></a>
		  <h4><%= reward.name %></h4>
		  <h4><%= reward.discount %></h4>
		</div>
	</div>
   <% end %>
</div>


