<div id="myModal" class="modal form">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  
  <div class="modal-dialog">
      <div class="modal-body">
      	
      	<%= render "edit" %>
        </div>
  </div>
</div>