<div class="landing-bg">
	
	<div class="landing-center">
		<h1> The Fastest Landing Page In The West</h1>
		<h3> Make simple landing pages with viral referral campaings in seconds</h3>
		<%= link_to "Take A Test Drive", new_user_registration_path, class: "btn btn-lg btn-info" %>
	</div>
	
</div>